body {
    font-family: 'Jura', sans-serif;
}

/*   Facebook Widget
----------------------- */
.facebook-widget {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: -342px;
    animation: facebookwidget 15s linear;
    -webkit-animation: facebookwidget 15s linear; 
}

@keyframes facebookwidget{
    0%  {left: -342px;}
    25% {left: 0;}
    50% {left: 0;}
    75% {left: 0;}
    100% {left: -342px;}
}

@-webkit-keyframes facebookwidget{
    0%  {left: -342px;}
    25% {left: 0;}
    50% {left: 0;}
    75% {left: 0;}
    100% {left: -342px;}
}

/*     Menu Nav
----------------------- */
.main-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 62px;
    line-height: 62px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #22313f;
}

.web-site-name {
    display: inline;
}

.main-header a {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}

.main-header .mobile-btn {
    color: #fff;
    font-size: 26px;
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.main-nav {
    display: inline;
}

.main-nav a:hover {
    color: #e91e63;
    text-decoration: underline;
}

.main-nav .fa {
    font-size: 30px;
}

.mobile-nav {
    width: 50%;
    position: fixed;
    z-index: 5;
    top: 62px;
    right: -51%;
    bottom: 0;
    background-color: #22313f;
    border-left: 2px solid #e91e63;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.mobile-nav.active {
    right: 0;
}

.mobile-nav__list {
    padding: 20px;
}

.mobile-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media(max-width: 768px) {
    
    .main-nav {
        display: none;
    }

    .main-header .mobile-btn {
        display: block;
    }
}

/*    Swiper Carousel
------------------------ */
.swiper-container {
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 62px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-heading {
    display: block;
    font-size: 60px;
    color: rgb(253, 253, 253);
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    /* color: yellow; */
}

/*     About Us
----------------------- */
.about-us {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    text-align: center;
}

.about-us__heading {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid #e91e63;
}

.about-us__text {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.about-us__text:last-child {
    margin-bottom: 0;
}

/*     Services
----------------------- */
.services {
    /* max-width: 1170px;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
    background-color: #22313f;
    color: #fff;
}

.services__wrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 30px;
}

.services__heading {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid #e91e63;
}

.services__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services__box {
    width: 350px;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding: 14px;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

.services__box .fas {
    margin-bottom: 20px;
    /* width: 40px;
    height: 40px;
    line-height: 40px; */
    font-size: 30px;
    /* border: 2px solid white;
    border-radius: 50%; */
}

/*     Address
----------------------- */
.address {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    text-align: center;
}

.address__heading {
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid #e91e63;
}

.address__google-map {
    width: 100%;
    height: 30vh;
    border: 0;
}

/*     Footer
----------------------- */
.main-footer {
    background-color: #22313f;
    color: #fff;
    font-size: 18px;
    line-height: 1.5em;
}

.main-footer__wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-footer__heading {
    margin-bottom: 20px;
    font-weight: 700;
}

.main-footer__wrapper .fas {
    width: 30px;
    text-align: left;
}

.main-footer__contacts {
    width: 48%;
    background-image: url(../images/world-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-footer__address {
    padding-left: 30px;
    font-size: 16px;
}

.main-footer__links {
    width: 48%;
}

.main-footer__copyright {
    border: 1px solid #464444;
    padding: 20px 10px 10px;
    font-size: 16px;
    text-align: center;
}

/*     Fixed Arrow
----------------------- */
#up-arrow {
    position: fixed;
    bottom: 60px;
    right: 20px;
    font-size: 30px;
    color: #e91e63 !important;
    
}


/*  Responsive Design
----------------------- */
@media (max-width: 768px) {
    .services__box {
        width: 100%;
    }

    .main-footer__wrapper {
        display: block;
    }

    .main-footer__contacts {
        width: 100%;
        margin-bottom: 40px;
    }

    .main-footer__links {
        width: 100%;
    }
}


